header {
    width: 100%;
}
#principal {
    background-color: rgba(223, 137, 162, 0.863);
    text-align: center;
}
body {
    background-color: rgb(255, 208, 243);
}
.iconoshead {
    color: crimson;
    margin: 10px;
    display: inline-block;
    justify-content: space-evenly;
}
.fa-house {
    text-align: left;
}
.iconoderecha {
    text-align: end;
}
.iconosarticle {
    color: grey;
}

h1 {
    font-weight: bold;
    font-size:50px ;
    font-style: normal;
    padding-top: 10px;
    text-align: center;
    line-height: 0.8;
    font-family: 'Playfair Display SC', serif;
    color: rgba(233, 48, 88, 0.658);
}
h2 {
    font-family: 'Caveat', cursive;
    font-style: italic;
    font-size: 25px;
    line-height: 0.8;
    font-weight: bold;
}
ul>li:hover {
    background-color: white;
    transition-duration:1s ;
}
ul> form li:hover {
    background-color: white;
    transition-duration:1s ;
}
.dropvertical a:hover {
    background-color: pink;
}
.menunave {
    display: grid;
    width: 100%;
    color: black;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.menuespacio {
    width: 100vw;
    justify-content: space-evenly;
}

.formuUstedes {
    position: relative;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(212, 108, 148, 0.973);
}
.formuContacto {
    background-color: aquamarine;
    position: relative;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    border: solid yellow;
}
.subrayado {
    text-decoration: underline;
}

.padre-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(233, 243, 174);
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
}
.hijo-flex {
    padding: 10px;
    background-image: linear-gradient(rgb(245, 245, 125), pink);
}
.padre-flex .hijo-flex img {
    width: 170px;
}

.gridLud {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.gridLud>* {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(162, 247, 242);
}
.gridLud>aside {
    grid-column: 5/6;
    grid-row: 1/5;
}
.gridLud > .sectiondos {
    grid-column: 3/5;
    grid-row: 1/5;
}
.gridLud>article{
    grid-column: 3/6;
    grid-row: 5/6;
    height: 150px;
}
.gridLud>footer {
    grid-row: 6/7;
    grid-column: 1/6;
}
.carruselContainer{
    margin: 5px;
    width: 1200px;
    height: 5px;
}
.itemsdegrid {
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(255, 142, 160);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20px);
}
.itemsdegrid div {
    border: solid 1px;
    width: 350px;
    height: 100px;
    font-size: 20px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animacionp {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    font-size: 50px;
}

.importante {
    width: 200px;
    height: 120px;
    background-color: rgb(125, 206, 243);
    font-size: 25px;
    transform: skewX(15deg) translate(80px, 20px);
}
a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #020202;
    text-decoration: none;
}
#img_obs{
	height: 200px;
}
#img{
	height: 350px;
}
.modal{
    padding-top: 5%;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    text-align: center;
  }
  .bodyModal{
    margin:0px auto;
    width: 50%;
    justify-content: center;
    text-align: center;
    height: 50%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    display: block;
  }
h6 {
	text-align: left;
}
@keyframes efecto {
    0% {
        width: 180px;
    }
    12% {
        width: 60px;
        background-color: red;
    }
    25% {
        width: 100px;
        background-color: green;
    }
    75% {
        width: 200px;
        background-color: aqua;
    }
    100% {
        width: 250px;
        background-color: darkgoldenrod;
    }
}

.animation {
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 1s;
}

@media screen and (max-width: 995px) {
    .gridLud>aside {
        display: none;
    }
    .gridLud > .sectiondos {
        grid-column: 3/6;
        grid-row: 1/5;
    }
    .gridLud>article{
        grid-column: 1/6;
        grid-row: 5/6;
        height: 150px;
    }
}

@media screen and (max-width: 767px) {
    .gridLud>aside {
        display: none;
    }
    .gridLud > .sectiondos {
        display: none;
    }
    .gridLud>article{
        grid-column: 1/6;
        grid-row: 5/6;
        height: 150px;
    }
    .gridLud>footer {
        grid-row: 6/7;
        grid-column: 1/6;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1334px) {
    .carruselContainer{
        width: 1000px;
        height: 5px;
    }
}