article {
  background-color: #fadbdb; }

section div.quienes {
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black; }

section div.subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 2; }

section div.historia {
  font-size: 20px;
  line-height: 2; }

img {
  padding: 15px; }

@media screen and (max-width: 1199px) {
  section div.subtitle {
    line-height: 1.5; } }
