header {
    width: 100%;
}
#principal {
    background-color: rgba(223, 137, 162, 0.863);
    text-align: center;
}

.fa-solid {
    color: crimson;
    margin: 15px;
    display: inline-block;
    
}
h1 {
    font-weight: bold;
    font-size:50px ;
    font-style: normal;
    padding-top: 10px;
    text-align: center;
    line-height: 0.8;
    font-family: 'Playfair Display SC', serif;
    color: rgba(233, 48, 88, 0.658);
}
h2 {
    font-family: 'Caveat', cursive;
    font-style: italic;
    font-size: 25px;
    line-height: 0.8;
}

ul>li:hover {
    background-color: white;
}
.dropvertical a:hover {
    background-color: pink;
}