header {
    width: 100%;
}
#principal {
    background-color: rgba(223, 137, 162, 0.863);
    text-align: center;
}

.fa-solid {
    color: crimson;
    margin: 10px;
    display: inline-block;
    justify-content: space-evenly;
}
.fa-house {
    text-align: left;
}
.iconoderecha {
    text-align: end;
}
h1 {
    font-weight: bold;
    font-size:50px ;
    font-style: normal;
    padding-top: 10px;
    text-align: center;
    line-height: 0.8;
    font-family: 'Playfair Display SC', serif;
    color: rgba(233, 48, 88, 0.658);
}
h2 {
    font-family: 'Caveat', cursive;
    font-style: italic;
    font-size: 25px;
    line-height: 0.8;
    font-weight: bold;
}

ul>li:hover {
    background-color: white;
}
.dropvertical a:hover {
    background-color: pink;
}
.menunave {
    display: grid;
    width: 100%;
    color: black;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.menuespacio {
    width: 100vw;
    justify-content: space-evenly;
}

@media screen and (max-width: 767px) {
    .menuespacio {
        width: 100%;
        justify-content:left;
    }
    .iconoderecha {
        position:relative;
        bottom: 45px;
    }
    header div nav section {
        height: 10px;
    }
    .fa-solid {
        margin: 10px;
        display: inline-block;
    }
}
